<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" countainer="IE=edge" />
    <meta name="viewport" countainer="width=device-width, initial-scale=1.0" />
    <!DOCTYPE html>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="../../assets/css/custom.css " />
    <script src="../js/index.js"></script>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <title>Darmanito</title>
  </head>
  <body>
    <header>
      <nav>
        <input type="checkbox" id="check" />
        <label for="check" class="hamberger">
          <i class="fas fa-bars"></i>
        </label>
        <img src="../../assets/image/logo.svg" alt="" class="logo push-left" />
        <ul>
          <li><a href="../../index.html" class="active"> صفحه اصلی</a></li>
          <li><a href="FAQ.html">درباره ما</a></li>
          <li><a href="custom.html">تماس با ما</a></li>
          <li><a href="Landding.html">عضویت داروخانه ها</a></li>
          <li class="a-d-none">
            <a href="#" class="a-d-none">قوانین و شرایط</a>
          </li>
          <li>
            <button class="push-left button-d-none">
              <p>دانلود مستقیم درمانیتو</p>
            </button>
          </li>
        </ul>
        <button class="push-left button-d-block"><p>دانلود درمانیتو</p></button>
      </nav>
    </header>
    <section class="tamasbama">
      <section class="countainer-faq-question">
        <h1>تماس باما</h1>
      </section>
      <section class="tamasbama-moshakhasat">
        <section class="tamasbama-moshakhasat-form">
          <form action="post">
            <p>نام و نام خانوادگی</p>
            <input type="text" placeholder="ایمیل یا شماره همراه" />
            <p>ایمیل یا شماره همراه</p>
            <input type="text" placeholder="ایمیل یا شماره همراه" />
            <p>پیام شما</p>
            <textarea placeholder="ایمیل یا شماره همراه"></textarea>
            <button>ارسال پیام</button>
          </form>
        </section>
        <section class="tamasbama-moshakhasat-location">
          <img src="../../assets/image/Map.png" style="width: 488px" />
        </section>
      </section>
    </section>
    <section class="poshtibani">
      <section class="poshtibani-group">
        <h3 class="h3-d-bl">پشتیبانی</h3>
        <h3 class="h3-d-none">پشتیبانی درمانیتو</h3>
        <p>پاسخگویی در روزهای کاری از 9 صبح تا 9 شب</p>
      </section>
      <img src="../../assets/image/phone-number.svg" alt="" />
    </section>
    <footer>
      <section class="footer">
        <section class="footer-darmanito">
          <img src="../../assets/image/logo.svg" alt="" />
          <h3>سوپر اپلیکیشن حوزه درمان و سلامت</h3>
          <p>
            تمام حقوق مادی و معنوی این وبسایت متعلق به <br />
            درمانیتو است
          </p>
          <section class="footer-social">
            <a href="#">
              <img src="../../assets/image/linkedin.svg" alt=""
            /></a>
            <a href="#"> <img src="../../assets/image/twitter.svg" alt="" /></a>
            <a href="#">
              <img src="../../assets/image/instagram.svg" alt=""
            /></a>
          </section>
        </section>
        <section class="footer-service footer-bl">
          <h3>خدمات درمانیتو</h3>
          <ul>
            <li
              style="
                border-right: solid 2px #00de9a;
                height: 24px;
                margin: 29.5px 0 26.5px;
                padding: 1px 11px;
                color: #2361b5;
              "
            >
              داروخانه آنلاین
            </li>
            <li>فروشگاه آنلاین</li>
            <li>ویزیت آنلاین</li>
            <li>پرونده پزشکی</li>
          </ul>
        </section>
        <section class="footer-pages footer-bl">
          <h3>صفحات درمانیتو</h3>
          <ul>
            <a href="custom.html"><li>تماس باما</li></a>
            <li>درباره ما</li>
            <a href="FAQ.html"><li>سوالات متداول</li></a>
            <li>قوانین و شرایط</li>
          </ul>
        </section>
        <section class="footer-download footer-bl">
          <h3>دانلود درمانیتو</h3>
          <section>
            <a href="#">
              <img src="../../assets/image/black-bazar.svg" alt=""
            /></a>
            <a href="#">
              <img src="../../assets/image/sib-app-black.svg" alt=""
            /></a>
          </section>
        </section>
      </section>
    </footer>
  </body>
</html>
