<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/FAQ.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
    <script src="../js/index.js"></script>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <!--Get your code at fontawesome.com-->
    <title>Darmanito</title>
  </head>
  <body>
    <header>
      <nav>
        <input type="checkbox" id="check" />
        <label for="check" class="hamberger">
          <i class="fas fa-bars"></i>
        </label>
        <img src="../../assets/image/logo.svg" alt="" class="logo push-lt" />
        <ul>
          <li><a href="../../index.html" class="active"> صفحه اصلی</a></li>
          <li><a href="#">درباره ما</a></li>
          <li><a href="custom.html">تماس با ما</a></li>
          <li><a href="Landding.html">عضویت داروخانه ها</a></li>
          <li class="a-d-no">
            <a href="#" class="a-d-no">قوانین و شرایط</a>
          </li>
          <li>
            <button class="push-lt button-d-no">
              <p>دانلود مستقیم درمانیتو</p>
            </button>
          </li>
        </ul>
        <button class="push-lt button-d-bl"><p>دانلود درمانیتو</p></button>
      </nav>
    </header>
    <section class="soalat">
      <section class="rectanglesoalat">
        <h1>سوالات متداول</h1>
      </section>
      <section class="push-soalat">
        <h2>سوال شما درباره کدوم سرویس هست؟</h2>
        <div class="push-soalatyy">
          <section class="soalat-img">
            <section class="soalat-img-drugstore">
              <img
                src="../../assets/image/drug.svg"
                alt=""
                style="width: 67.6px; height: 58.23"
              />
              <p>داروخانه</p>
            </section>
            <section class="soalat-img-shop">
              <img src="../../assets/image/shop.svg" alt="" />
              <p>فروشگاه</p>
            </section>
            <section class="soalat-img-doctor">
              <img src="../../assets/image/doctor-toys.svg" alt="" />
              <p>ویزیت آنلاین</p>
            </section>
            <section class="soalat-img-celender">
              <img src="../../assets/image/calender.svg" alt="" />
              <p>ویزیت آنلاین</p>
            </section>
          </section>
        </div>
        <section class="soalat-plusess border-bottom">
          <img src="../../assets/image/plus.svg" alt="" />
          <h3>هزینه ای درمانیتو برای پیدا کردن دارو دریافت میکنه؟</h3>
        </section>
        <section class="soalat-plusess border-bottom">
          <img src="../../assets/image/plus.svg" alt="" />
          <h3>هزینه ای درمانیتو برای پیدا کردن دارو دریافت میکنه؟</h3>
        </section>
        <section class="soalat-plusess">
          <img src="../../assets/image/minus.svg" alt="" />
          <h3>درمانیتو فقط در تهران و کرج فعال هست؟</h3>
        </section>
        <p class="minus">خیر، ما هم اکنون در تهران در حال فعالیت هستیم</p>

        <section class="soalat-plusess money-d-black border-bottom border-top">
          <img src="../../assets/image/plus.svg" alt="" />
          <h3>هزینه ای درمانیتو برای پیدا کردن دارو دریافت میکنه؟</h3>
        </section>
      </section>
    </section>
    <section class="poshtibani">
      <section class="poshtibani-group">
        <h3 class="h3-d-bl">پشتیبانی</h3>
        <h3 class="h3-d-no">پشتیبانی درمانیتو</h3>
        <p>پاسخگویی در روزهای کاری از 9 صبح تا 9 شب</p>
      </section>
      <img src="../../assets/image/phone-number.svg" alt="" />
    </section>
    <footer>
      <section class="footer">
        <section class="footer-darmanito">
          <img src="../../assets/image/logo.svg" alt="" />
          <h3>سوپر اپلیکیشن حوزه درمان و سلامت</h3>
          <p>
            تمام حقوق مادی و معنوی این وبسایت متعلق به <br />
            درمانیتو است
          </p>
          <section class="footer-social">
            <a href="#">
              <img src="../../assets/image/linkedin.svg" alt=""
            /></a>
            <a href="#"> <img src="../../assets/image/twitter.svg" alt="" /></a>
            <a href="#">
              <img src="../../assets/image/instagram.svg" alt=""
            /></a>
          </section>
        </section>
        <section class="footer-service footer-bl">
          <h3>خدمات درمانیتو</h3>
          <ul>
            <li
              style="
                border-right: solid 2px #00de9a;
                height: 24px;
                margin: 29.5px 0 26.5px;
                padding: 1px 11px;
                color: #2361b5;
              "
            >
              داروخانه آنلاین
            </li>
            <li>فروشگاه آنلاین</li>
            <li>ویزیت آنلاین</li>
            <li>پرونده پزشکی</li>
          </ul>
        </section>
        <section class="footer-pages footer-bl">
          <h3>صفحات درمانیتو</h3>
          <ul>
            <a href="custom.html"><li>تماس باما</li></a>
            <li>درباره ما</li>
            <a href="FAQ.html"><li>سوالات متداول</li></a>
            <li>قوانین و شرایط</li>
          </ul>
        </section>
        <section class="footer-download footer-bl">
          <h3>دانلود درمانیتو</h3>
          <section>
            <a href="#">
              <img src="../../assets/image/black-bazar.svg" alt="downloadbazar"
            /></a>
            <a href="#">
              <img
                src="../../assets/image/sib-app-black.svg"
                alt="download sibapp"
            /></a>
          </section>
        </section>
      </section>
    </footer>
    <script src="../js/index.js"></script>
  </body>
</html>
