<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" countainer="IE=edge" />
    <meta name="viewport" countainer="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../assets/css/Landding.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <script src="../js/index.js"></script>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <title>Darmanito</title>
  </head>
  <body>
    <header>
      <nav>
        <input type="checkbox" id="check" />
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
        <img src="../../assets/image/logo.svg" alt="" class="logo ghavanin" />
        <ul>
          <li><a href="../../index.html" class="active"> صفحه اصلی</a></li>
          <li><a href="FAQ.html">درباره ما</a></li>
          <li><a href="custom.html">تماس با ما</a></li>
          <li><a href="Landding.html">عضویت داروخانه ها</a></li>
          <li class="a-d-no">
            <a href="#" class="a-d-no">قوانین و شرایط</a>
          </li>
          <li>
            <button class="ghavanin button-d-no">
              <p>دانلود مستقیم درمانیتو</p>
            </button>
          </li>
        </ul>
        <button class="ghavanin button-d-bl"><p>دانلود درمانیتو</p></button>
      </nav>
    </header>
    <section class="countainerozviat">
      <section class="countainerozviat-rt">
        <h3>شما هم در سلامت و بهبود مردم کشورمون موثر باشید</h3>
        <p>
          با ثبت نام به عنوان داروخانه یا فروشگاه و داروخانه شما هم به سیستم
          درمان کمک کنید و به هزاران کاربر خدمات ارائه بدین و روزانه درآمد سفارش
          های خودتون رو تسویه کنید
        </p>
        <div class="inputtbutton">
          <input type="text" placeholder="شماره همراه را وارد کنید " />
          <button>ثبت نام سریع</button>
        </div>
      </section>
      <section class="countainerozviat-lf">
        <section class="countainerozviathumannnn">
          <section class="countainerozviathumannnn-img">
            <img src="../../assets/image/Human.svg" alt="" />
          </section>
          <section>
            <p class="countainerozviathumannnn-p">شبانه روزی</p>
            <h3 class="countainerozviathumannnn-h3">نام داروخانه شما</h3>
            <section class="imgplusp">
              <img src="../../assets/image/map-marker.svg" alt="" />
              <p>درمانیتو ، سرویس داروخانه ، داروخانه شما</p>
            </section>
          </section>
        </section>
        <section class="countainerozviat-human landing_humannnn">
          <section class="countainerozviathumannnn-img">
            <img
              src="../../assets/image/Human.svg"
              alt=""
              style="width: 52px; height: 53px"
            />
          </section>
          <section>
            <h3>نام داروخانه شما</h3>
            <section class="imgone">
              <img src="../../assets/image/map-marker.svg" alt="" />
              <p>درمانیتو ، سرویس داروخانه ، داروخانه شما</p>
            </section>
          </section>
        </section>
        <section class="countainerozviathumand landing-down-bl">
          <section class="countainerozviathumannnn-img">
            <img
              src="../../assets/image/Human.svg"
              alt=""
              style="width: 52px; height: 53px"
            />
          </section>
          <section>
            <p class="countainerozviathumand-p">شبانه روزی</p>
            <h3>نام داروخانه شما</h3>
            <section class="imgone">
              <img src="../../assets/image/map-marker.svg" alt="" />
              <p>درمانیتو ، سرویس داروخانه ، داروخانه شما</p>
            </section>
          </section>
        </section>
      </section>
    </section>
    <section class="countainerozviat-numbers">
      <section class="numbersss">
        <p>تعداد کاربران درمانیتو</p>
        <h1>120,000+</h1>
      </section>
      <section class="numbersss">
        <p>تعداد داروخانه و مراکز</p>
        <h1>120,000+</h1>
      </section>
      <section class="numbersss">
        <p>تعداد داروخانه و مراکز</p>
        <h1>120,000+</h1>
      </section>
    </section>
    <section class="countainerozviat-emkanat">
      <h3>در درمانیتو چه خدمات ارائه خواهید داد؟</h3>
      <p class="landing-emkanat-d-bl">
        خدمت مورد نظر خود را برای ثبت نام انتخاب کنید
      </p>
      <p class="landing-emkanat-d-no">
        شما میتونید شماره خودتون یا دوست خودتون رو وارد کنید تا لینک دانلود
        پیامک بشه
      </p>
      <section class="drugstoremarket">
        <section class="service-drugstore">
          <img src="../../assets/image/DrugStore2.svg" alt="" />
          <h2 class="h2faghat-bl">داروخانه</h2>
          <h2 class="h2faghat-no">فقط داروخانه</h2>
          <p class="service-drugstore-p">
            مایل هستم فقط بعنوان داروخانه فعالیت کنم و در بخش صرفا سفارش دارو با
            عکس نسخه به بیماران کمک رسانی کنم
          </p>
          <button>ثبت نام</button>
        </section>
        <section class="servicemarket">
          <img src="../../assets/image/MakeupStore.svg" alt="" />
          <h2 class="faghat-gah-bl">فروشگاه آرایشی و بهداشتی</h2>
          <h2 class="faghat-gah-no">داروخانه و فروشگاه</h2>
          <p>
            مایل هستم فقط بعنوان داروخانه فعالیت کنم و در بخش صرفا سفارش دارو با
            عکس نسخه به بیماران کمک رسانی کنم
          </p>
          <button>ثبت نام</button>
        </section>
      </section>
    </section>
    <section class="poshtibani">
      <section class="poshtibani-group">
        <h3 class="h3-d-bl">پشتیبانی</h3>
        <h3 class="h3-d-no">پشتیبانی درمانیتو</h3>
        <p>پاسخگویی در روزهای کاری از 9 صبح تا 9 شب</p>
      </section>
      <img src="../../assets/image/phone-number.svg" alt="" />
    </section>
    <footer>
      <section class="footer">
        <section class="footer-darmanito">
          <img src="../../assets/image/logo.svg" alt="" />
          <h3>سوپر اپلیکیشن حوزه درمان و سلامت</h3>
          <p>
            تمام حقوق مادی و معنوی این وبسایت متعلق به <br />
            درمانیتو است
          </p>
          <section class="footer-social">
            <a href="#">
              <img src="../../assets/image/linkedin.svg" alt=""
            /></a>
            <a href="#"> <img src="../../assets/image/twitter.svg" alt="" /></a>
            <a href="#">
              <img src="../../assets/image/instagram.svg" alt=""
            /></a>
          </section>
        </section>
        <section class="footer-service footer-bl">
          <h3>خدمات درمانیتو</h3>
          <ul>
            <li
              style="
                border-right: solid 2px #00de9a;
                height: 24px;
                margin: 29.5px 0 26.5px;
                padding: 1px 11px;
                color: #2361b5;
              "
            >
              داروخانه آنلاین
            </li>
            <li>فروشگاه آنلاین</li>
            <li>ویزیت آنلاین</li>
            <li>پرونده پزشکی</li>
          </ul>
        </section>
        <section class="footer-pages footer-bl">
          <h3>صفحات درمانیتو</h3>
          <ul>
            <a href="custom.html"><li>تماس باما</li></a>
            <li>درباره ما</li>
            <a href="FAQ.html"><li>سوالات متداول</li></a>
            <li>قوانین و شرایط</li>
          </ul>
        </section>
        <section class="footer-download footer-bl">
          <h3>دانلود درمانیتو</h3>
          <section>
            <a href="#">
              <img src="../../assets/image/black-bazar.svg" alt=""
            /></a>
            <a href="#">
              <img src="../../assets/image/sib-app-black.svg" alt=""
            /></a>
          </section>
        </section>
      </section>
    </footer>
  </body>
</html>
